<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="factory" type="xstring" value="org.knime.base.node.mine.pca.PCANodeFactory"/>
<entry key="node-name" type="xstring" value="PCA"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<config key="factory_settings"/>
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="failMissing_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="failMissing" type="xboolean" value="false"/>
<config key="output_dimensions_selected_Internals">
<entry key="SettingsModelID" type="xstring" value="SettingsModelChoiceIntDouble.modelTypeID"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="output_dimensions_selected">
<entry key="choice" type="xboolean" value="false"/>
<entry key="doubleVal" type="xdouble" value="100.0"/>
<entry key="intVal" type="xint" value="2"/>
<config key="eigenvalues"/>
</config>
<config key="removeColumns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="removeColumns" type="xboolean" value="false"/>
<config key="input_columns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="input_columns">
<config key="InclList">
<entry key="array-size" type="xint" value="32"/>
<entry key="0" type="xstring" value="SBM_map1"/>
<entry key="1" type="xstring" value="SBM_map2"/>
<entry key="2" type="xstring" value="SBM_map3"/>
<entry key="3" type="xstring" value="SBM_map4"/>
<entry key="4" type="xstring" value="SBM_map5"/>
<entry key="5" type="xstring" value="SBM_map6"/>
<entry key="6" type="xstring" value="SBM_map7"/>
<entry key="7" type="xstring" value="SBM_map8"/>
<entry key="8" type="xstring" value="SBM_map10"/>
<entry key="9" type="xstring" value="SBM_map13"/>
<entry key="10" type="xstring" value="SBM_map17"/>
<entry key="11" type="xstring" value="SBM_map22"/>
<entry key="12" type="xstring" value="SBM_map26"/>
<entry key="13" type="xstring" value="SBM_map28"/>
<entry key="14" type="xstring" value="SBM_map32"/>
<entry key="15" type="xstring" value="SBM_map36"/>
<entry key="16" type="xstring" value="SBM_map40"/>
<entry key="17" type="xstring" value="SBM_map43"/>
<entry key="18" type="xstring" value="SBM_map45"/>
<entry key="19" type="xstring" value="SBM_map48"/>
<entry key="20" type="xstring" value="SBM_map51"/>
<entry key="21" type="xstring" value="SBM_map52"/>
<entry key="22" type="xstring" value="SBM_map55"/>
<entry key="23" type="xstring" value="SBM_map61"/>
<entry key="24" type="xstring" value="SBM_map64"/>
<entry key="25" type="xstring" value="SBM_map67"/>
<entry key="26" type="xstring" value="SBM_map69"/>
<entry key="27" type="xstring" value="SBM_map71"/>
<entry key="28" type="xstring" value="SBM_map72"/>
<entry key="29" type="xstring" value="SBM_map73"/>
<entry key="30" type="xstring" value="SBM_map74"/>
<entry key="31" type="xstring" value="SBM_map75"/>
</config>
<config key="ExclList">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="keep_all_columns_selected" type="xboolean" value="false"/>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="name" type="xstring" value="PCA"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 119748, Cols: 64"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="77a1a49a-5b1f-4117-928b-f3d7037b6599"/>
</config>
</config>
